.main {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: #2F5249;
}

.sign-cnt {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.login-cnt {
    width: 500px;
    background-color: white;
    padding: 60px;
    border-radius: 10px;
    box-shadow: rgba #00000040 (0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.submit {
    background-color: #2F5249;
    color: white;
}

.log-submit{
   background-color: #2F5249;
    color: white;
    margin-top: 50px;   
}

.error-message{
color: red;
font-size: 14px;
}

.bg-color{
    background-color: #d1e7dd;
}