*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
    text-decoration: none !important;
    /* scroll-behavior: smooth; */
}

.bg{
    background-color: #fa811e;
}

/* .header-cnt{
     display: flex;
     align-items: center;
     justify-content: space-between;
     align-items: center;
     background-color:  #fa811e;
     padding: 16px;
     font-family: "Alata", Helvetica, Arial, sans-serif;
} */
/* 
.border-btm{
     padding: 16px;
     border-bottom: 1px solid white;
}

.header {
  position: sticky;
  top: 0;
  padding: 10px 16px;
}

.spacing{
    margin: 20px;
}

.w-50{
    width: 50%;
}

.img-set{
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    padding-bottom: 130px;
    
}


.readmore-a{
    color: white;
    font-weight: 600;
}

.time-cnt{
    font-size: 24px;
    font-weight: 600;
    margin-top: 30px;
}
.fresh-meeal{
    font-size: 60px;
    color: white;
    font-weight: 700;
}
.main{
    align-items: center;
    height: 86vh;
}

.img-cnt{
    margin-left: 300px;
    margin-bottom:25px;
    width: 40%;
} */
 .bg-body-tertiary{
  background-color: transparent !important;
}
.bg-img{
    position: relative;
}
  .bistro-nav{
    position: absolute;
  }

.bg-img-set{
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;

}
.mt-15{
    margin-top: 20px ;
}
.p-16{
  padding-left: 14px !important;
  padding-right: 14px !important;
}
.p-30{
  padding: 20px !important;
}

.health{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center ;
  height:100%;
}

.health-h1{
  font-size: 70px;
    color: white;
  font-weight: 700;
}


.health h1 span {
  display: block;
}
.health h1 p ::before {
  content: attr(data-text);
  padding: 1px 8px;
}

/* .read-more{
  font-size: 14px;
  color: white;
  font-weight: 700;
} */
.health p{
  font-size: 22px;
  margin-top: 20px;
}

.read-more{
    font-size: 14px;
    color: white;
    border: 2px solid white;
    background-color: inherit;
    padding : 10px 30px ;
    /* margin-top: 30px; */
}
.bistro-img{
    width: 100%;
}
.space{
       padding-top: 120px;
    padding-bottom: 80px;
}

.space-2{
    padding: 0px 0px 0px 5%;
}
.bistro-cnt p{
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    color: #a5d5c4;
}
.bistro-cnt h1{
    font-size: 75px;
    line-height: 70px;
    font-weight: 700;
    color: #fa811e;
    margin-bottom: 35px;
}
.bistro-span{
    font-weight: 600;
}
.mb-40{
    margin-bottom: 40px;
}
.icon-span{
    font-weight: 600;
}

.mt-55{
    margin-top: 55px;
}

.box {
  width: 100%;
  height: 30px;
  background-color: #f8f4e4;
}

.why-cnt{
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    color: #a5d5c4;
    margin-left: 20px;
    margin-right: 20px;
}
.border-cnt{
    width: 38%;
    color: green;
}
.eating-cnt h2{
    font-size: 33px;
    line-height: 39px;
    font-weight: 700;
    color: #fa811e;
    margin-bottom: 30px;
}
.eating-span{
    font-weight: 600;
    font-size: 19px;
}
.mt-36{
    margin-top: 36px;
}
.p-100{
    padding: 100px;
}
.rtl-text {
  direction: rtl;
}
.align{
    text-align: right;
}
.menu-btn{
    padding: 10px 25px;
    background-color: #fa811e;
    border: none;

}

.menu-btn a{
    color: white;
    font-weight: 600;
}
.bg-green{
    background-color: #124936;
}

.dishes-cnt  h1{
     font-size: 75px;
    line-height: 70px;
    font-weight: 700;
    color: white;
    margin-bottom: 35px;
}

.dishes-cnt p{
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    color: #a5d5c4;
    margin: 0;
}

.dishes-span{
    font-weight: 600;
    font-size: 19px;
    color: white;
}
.pd{
    padding: 0px 5% 0px 0px;;
}
.dishes-hr{
    width: 93%;
    color:#d2e4de;
}

.bg-story{
    background-color: #f7f4e3;
}

.story-cnt h1{
    font-size: 75px;
    line-height: 70px;
    font-weight: 700;
    color: #fa811e;
    margin-bottom: 35px;
}

.story-cnt p{
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    color: #a5d5c4;
}

.story-span{
    font-weight: 600;
    font-size: 19px;
    color: black;
}
.story-span2{
    color: #fa811e;
    margin-top: 30px;
}
.story-span2 a{
    color: #fa811e;
}

.story-cnt2 h2{
    font-size: 70px;
    font-weight: 700;
}


.speicial-p{
    font-size: 20px;
    line-height: 30px;
    font-weight:700;
    color: #a5d5c4;
}
.special-h1{
    font-size: 70px;
    line-height: 70px;
    font-weight: 700;
    color: #2a2c2c;
}
.dish-p{
    font-size: 18px;
    line-height: 31px;
    font-weight: 700;
    margin-top: 20px;
}
.pb-80{
    padding-bottom: 80px;
}
.photo-p{
      font-size: 20px;
    line-height: 30px;
    font-weight:700;
    color: #fa811e;
}
.theme{
    color: #fa811e;
}
.gallery-img{
    width: 100%;
}

.footer-bg{
    background-color: #422626;
}
.footer-h1{
     font-size: 70px;
    line-height: 70px;
    font-weight: 700;
    color: #fa811e;
}
.footer-p{
        font-size: 20px;
    line-height: 30px;
    font-weight:700;
    color: white;
}
.footer-h2{
    color: #fa811e;
    font-weight: 700;
    line-height: 32px;
}
.footer-p2{
        font-size: 20px;
    line-height: 30px;
    font-weight:700;
    color: #fa811e;
}

@media (min-width: 1024px) and (max-width: 1440px) { 
    .p-100{
        padding: 0px;
        margin-top: 20px;
    }
    .space{
        padding-top: 80px;
    }
    .why-cnt {
        font-size: 14px;
        }

    .eating-cnt h2{
    font-size: 32px;
    }

    .eating-span{
    font-size: 19px;
    }

    .story-cnt h1{
        font-size: 65px;
        line-height: 65px;
    }

    .story-span{
        font-size: 17px;
    }

    .pm{
        padding: 0 !important;
        margin-left: 0 !important;
    }

      .special-h1{
        font-size: 70px !important;
        line-height: 98px !important;
    }

     .dish-p{
        font-size: 18px !important;
    }
    .theme{
        font-size: 20.4px !important;
    }

    .footer-h1{
        overflow: hidden;
        font-size: 70px !important;
        font-size: 70px !important;
    }

    .bistro-cnt h1{
      font-size: 70px !important;
      line-height: 70px !important;
    }

 
 }

 @media (min-width: 768px) and (max-width: 1024px) { 


      .p-100{
        padding: 0px;
        margin-top: 20px;
    }

     .space{
        padding-top: 80px;
    }

    .border-cnt{
        width: 26%;
    }

     .eating-cnt h2{
        font-size: 26px;
        line-height: 30px;
    }
    
    .eating-span{
        font-size: 16px;
    }

    .dishes-cnt h1{
        overflow: hidden;
        font-size: 60px;
        line-height: 60px;
    }

    .dishes-cnt h4{
        overflow: hidden;
    }
    .dishes-span {
        font-size: 14px;
    }

    .dishes-cnt p{
        font-size: 17px;
        line-height: 26px;
    }

     .dishes-cnt h4{
        font-size: 17px;
        line-height: 26px;
    }

    .dishes-hr{
        width: 100%;
        margin: 10px 0px;
    }

   .mt-130{
    margin-top: 130px;
   }

   .story-cnt p {
    font-size: 20px !important;
    line-height: 30px !important;
   }

     .story-cnt h1{
        font-size: 60px !important;
        line-height: 60px !important;
        overflow: hidden;
    }

    .story-span{
        font-size: 15px !important;
        line-height: 30px;
    }

    .story-cnt2 h2{
        overflow: hidden;
        font-size: 60px !important;
    }
    .pm{
        padding: 77px;
        margin-left: 40px
    }
    .pv-0{
        padding-bottom: 80px !important;
    }
    .special-h1{
        overflow: hidden;
        font-size: 60px !important;
        line-height: 80px !important;
    }

    .speicial-p{
        font-size: 20px !important;
    }

    .dish-p{
        font-size: 15px;
    }

     /* .ml-230{
        margin-left: 0px !important;
    } */

    .ml-230{
        margin-left: 0px !important;
    }

    .plr-25{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .theme{
        font-size: 17px !important;
    }

    .footer-h1{
        overflow: hidden;
        font-size: 60px !important; 
        line-height: 60px !important;
    }

     .footer-h2{
        overflow: hidden;
    }
    .theme{
        overflow: hidden;
    }
    .bistro-cnt h1{
        overflow: hidden;
        font-size: 57px !important;
        line-height: 57px !important ;
    }

    .mt-70{
        margin-top: 70px;
    }
 
 }

  @media (min-width: 425px) and (max-width: 768px) { 

    *{
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

      .p-100{
        padding: 0px;
        margin-top: 20px;
    }

      .space{
        padding-top: 80px;
    }
      .why-cnt {
        font-size: 14px;
        }

    .border-cnt{
        width: 18%;
    }

     .eating-cnt h2{
        font-size: 18px;
        line-height: 18px;
        overflow: hidden;
    }
    
    .eating-span{
        font-size: 13px;
    }

    .pd{
        padding: 15px;
    }

     .dishes-cnt h1{
        overflow: hidden;
        font-size: 42px;
        line-height: 42px;
    }

    .dishes-cnt h4{
        overflow: hidden;
       
    }
    .dishes-span {
        font-size: 14px;
    }

    .dishes-cnt p{
         font-size: 13px;
        line-height: 19px;
        margin-bottom: 25px;
    }

     .dishes-cnt h4{
        font-size: 17px;
        line-height: 26px;
    }

    .dishes-hr{
        width: 100%;
        margin: 10px 0px;
    }

    .story-cnt p {
        font-size: 13px;
        line-height: 19px;
    }

    
     .story-cnt h1{
        font-size: 42px;
        line-height: 42px;
        overflow: hidden;
    }

    .story-span{
        font-size: 14px;
    }

    .story-cnt2 h2{
        overflow: hidden;
        font-size: 44px;
    }    
       .pv-0{
        padding-bottom: 0 ;
    }
       .mb-80{
        margin-bottom: 80px;
    }

    .special-h1{
        overflow: hidden;
        font-size: 42px;
        line-height: 72px;
    }

    .dish-p{
        font-size: 15px;
    }
    .speicial-p{
        font-size: 13px;
        margin: 0;
    }
    .ml-230{
        margin-left: 230px ;
    }

    .plr-25{
        padding-left: 25px;
        padding-right: 25px;
    }
    .lh{
        line-height: 54px !important;
    }

    .theme{
        font-size: 13px;
        line-height: 19px;
    }

    .footer-h1{
        overflow: hidden;
        font-size: 42px  ;
        line-height: 42px;
    }

     .bistro-cnt h1{
        overflow: hidden;
        font-size: 43px;
        line-height: 43px ;
    }
 }

/* 
  @media (min-width: 375px) and (max-width: 425px) {

    .space{
        padding-top: 80px;
    }
    .pd{
        padding: 15px;
    }

     .dishes-cnt h1{
        overflow: hidden;
        font-size: 42px;
        line-height: 42px;
    }

    .dishes-cnt h4{
        overflow: hidden;
       
    }
    .dishes-span {
        font-size: 14px;
    }

    .dishes-cnt p{
         font-size: 13px;
        line-height: 19px;
        margin-bottom: 25px;
    }

     .dishes-cnt h4{
        font-size: 17px;
        line-height: 26px;
    }

    .dishes-hr{
        width: 100%;
        margin: 10px 0px;
    }

   } */

 
  @media (min-width: 320px) and (max-width: 425px) { 

    *{
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

      .p-100{
        padding: 0px;
        margin-top: 20px;
    }

     .space{
        padding-top: 80px;
    }

      .why-cnt {
        font-size: 12px;
        }

    .border-cnt{
        width: 13%;
    }

     .eating-cnt h2{
        font-size: 18px;
        line-height: 18px;
        overflow: hidden;
    }
    
    .eating-span{
        font-size: 13px;
    }

    .menu-btn {
        padding: 6px 25px;
    }

    .menu-btn a {
        font-size: 12px;
    }

    .story-cnt p {
        font-size: 13px;
        line-height: 19px;
    }

    
     .story-cnt h1{
        font-size: 42px;
        line-height: 42px;
        overflow: hidden;
    }

    .story-span{
        font-size: 14px;
    }

    .story-cnt2 h2{
        overflow: hidden;
        font-size: 44px;
    }    
       .pv-0{
        padding-bottom: 0 ;
    }
       .mb-80{
        margin-bottom: 80px;
    }

    .special-h1{
        overflow: hidden;
        font-size: 42px !important;
        line-height: 72px;
    }

    .dish-p{
        font-size: 15px;
    }
    .speicial-p{
        font-size: 13px;
        margin: 0;
    }
    .ml-230{
        margin-left: 130px;
    }

    .plr-25{
        padding-left: 25px;
        padding-right: 25px;
    }

    .lh{
        line-height: 54px !important;
    }

    .theme{
        font-size: 13px;
        line-height: 19px;
    }   
    
   .fs{
    font-size: 36px !important;
   }

    .footer-h1{
        overflow: hidden;
        font-size: 42px  ;
        line-height: 42px;
    }

        .bistro-cnt h1{
        overflow: hidden;
        font-size: 43px;
        line-height: 43px ;
        
    }
    
 }

  @media (min-width: 320px) and (max-width: 375px){
        .space{
        padding-top: 30px;
    }
    .pd{
        padding: 15px;
    }

     .dishes-cnt h1{
        overflow: hidden;
        font-size: 42px;
        line-height: 42px;
    }

    .dishes-cnt h4{
        overflow: hidden;
        font-size: 14px !important;
       
    }
    .dishes-span {
        font-size: 14px;
    }

    .dishes-cnt p{
         font-size: 13px;
        line-height: 19px;
        margin-bottom: 25px;
    }

     .dishes-cnt h4{
        font-size: 17px;
        line-height: 26px;
    }

    .dishes-hr{
        width: 100%;
        margin: 10px 0px;
    }
  }

