/* .bg-body-tertiary{
  background-color: transparent !important;
}
.bg-img{
    position: relative;
}
  .bistro-nav{
    position: absolute;
  }

.bg-img-set{
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;

}

.p-16{
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.p-30{
  padding: 30px !important;
}

.health{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center ;
  height:100%;
}

.health-h1{
  font-size: 64px;
  color: white;
  font-weight: 700;
}


.health h1 span {
  display: block;
}
.health h1 p ::before {
  content: attr(data-text);
  padding: 1px 8px;
}

.read-more{
  font-size: 14px;
  color: white;
  font-weight: 700;
}
.health p{
  font-size: 20px;
  margin-top: 20px;
} */